f.py
lab7/clock.py
lab7/cover.png
lab7/clock.py
lab7/left-hand.png
lab7/m2.mp3
lab7/m1.mp3
lab7/m3.mp3
lab7/clock.py
lab7/music-player.png
lab7/music.py
lab7/player.png
pp2_exercises/lab1.py
pp2_exercises/lab2.py
lab7/main-clock.png
lab7/music.py
lab7/clock.py
lab7/clock.py
sem7/g.py
