f.py
lab7/clock.py
lab7/cover.png
lab7/clock.py
lab7/left-hand.png
lab7/m2.mp3
lab7/m1.mp3
lab7/m3.mp3
lab7/clock.py
lab7/music-player.png
lab7/music.py
lab7/player.png
pp2_exercises/lab1.py
pp2_exercises/lab2.py
lab7/main-clock.png
lab7/music.py
lab7/clock.py
lab7/clock.py
sem7/g.py
images/2pl_.png
images/1pl_.png
images/2pl.png
images/1pl.png
images/apple.png
images/bc.png
images/boom.png
images/bronze.webp.png
images/2player.png
images/brush.png
images/clear.png
images/coin2.png
images/collection.png
images/crash.wav
.gitignore
images/coin2.jpg
images/collection.mp3
images/Enemy.png
images/eraser.png
images/exit_.png
images/exit.png
images/ez.png
images/ez_.png
images/ezzz.png
images/bronze.webp
images/cursor.png
images/gamelvl.png
images/coin3.jpg
images/dead.png
images/golden.webp
images/hard_.png
lab10!/level1.txt
lab10!/level3.txt
lab10!/level2.txt
lab7/circle.py
lab7/clock.py
lab7/circle.py
pp2_exercises/lab8-9/paint.py
pp2_exercises/lab8-9/paint2.py
pp2_exercises/lab8-9/paint.py
lab7/circle.py

__pycache__/config.cpython-310.pyc
data/save.dat
